.search-results-page {
   padding: 80px 20px 20px 20px; /* top padding = navbar height + extra space */
}
.matching-products,
.bottom-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.no-results {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
